{#
/**
 * @file workout.html.twig
 * Default theme implementation to present Workout data.
 *
 * This template is used when viewing Workout pages.
 *
 *
 * Available variables:
 * - content: A list of content items. Use 'content' to print all content, or
 * - attributes: HTML attributes for the container element.
 *
 * @see template_preprocess_workout()
 *
 * @ingroup themeable
 */
#}
<div{{ attributes.addClass('workout') }}>
  {% if content %}
    {{- content -}}
  {% endif %}
</div>
